body{
 box-sizing: border-box;
}
header {

    width: 100%;;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1.5rem;
    align-items: center;
    height: 4rem;
}

header .logo {
    display: flex;
    height: 3rem;
}
header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

header nav ul a {
    text-decoration: none;
    color: black;
    
}
header nav ul a:hover{
    text-decoration: underline;
    color: rgb(66, 225, 165);
}
main{
    box-sizing: border-box;
    background-color: rgb(228, 226, 226);
    display: flex;
    width: 100%;
    padding: 2rem 1.5rem;   
}
main img{
    width: 60%;
    height: auto;
}
main h2{
    color: rgb(92, 92, 92);
    font-weight: bold;
    font-size: 4rem
}
main .hero-text{
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin: 1.5rem;  

}

main .hero-text p{
   font-size: 1.5rem;
    color: rgb(66, 66, 66);
}
main .button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 0.5rem;
    flex-grow: 0;
    padding: 1rem 4rem;
    background-color: rgb(131, 131, 131);
    color: white;
    border: none;
    font-weight: bold;
}
.info{
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 2rem ;
    width: 100%;
}

.info_left {
    box-sizing: border-box;
    width: 60%;
    padding-right: 2rem 1.5 rem;
}
.info_left h1{
    color: rgb(92, 92, 92);
    font-weight: bold;
    font-size: 3rem
}

.info_left p{
    font-size: 1.2rem;
    color: rgb(129, 127, 127);
    font-weight: ;
}
.info img{
    
    width: 100%;
    height: auto;
}

.info_right {
    box-sizing: border-box;
    display: flex;
    padding: 0 1.5rem;
    width: 40%;
    flex-direction: column;
     /* Adds consistent spacing between boxes */
}

.info_box {
    border: 1px solid rgb(219, 217, 217);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    width: 100%; /* Changed from 40% to 100% to fill the parent container */
    box-sizing: border-box;

}

.info_box img {
    height: auto;
    width: 35%;
}

.box_text {
    flex-grow: 1; /* Allows text to take remaining space */
    line-height: 1; /* Adjusted from 0.5rem for better readability */
}

.box_text h2 {
    margin-bottom: 0.5rem;
}

.box_text p {
    margin-bottom: 0.5rem;
}

#oldman{
    background-color: rgb(238, 238, 238);
}

#cite{

    position: relative;
    top: 1.5rem;
    font-size: 1rem;
    font-style: italic;
}