body{
 box-sizing: border-box;
}
header {
    width: 100%;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    height: 3rem;
}
header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

header nav ul a {
    text-decoration: none;
    color: black;
    
}
header nav ul a:hover{
    text-decoration: underline;
    color: rgb(66, 225, 165);
}
main{
    box-sizing: border-box;
    background-color: rgb(228, 226, 226);
    display: flex;
    width: 100%;
    padding: 2rem 1.5rem;
    
}
main img{
    width: 50%;
}
main h1{
    color: rgb(92, 92, 92);
    font-weight: bold;
}
main .hero-text{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

main .hero-text p{
   font-size: 1.2rem;
    color: rgb(66, 66, 66);
}
main .button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 0.5rem;
    flex-grow: 0;
    padding: 1rem 4rem;
    background-color: rgb(131, 131, 131);
    color: white;
    border: none;
    font-weight: bold;
}