body{
 box-sizing: border-box;
}
header {
    width: 100%;;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1.5rem;
    align-items: center;
    height: 4rem;
}

header .logo {
    display: flex;
    height: 3rem;
}
header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

header nav ul a {
    text-decoration: none;
    color: black;
    
}
header nav ul a:hover{
    text-decoration: underline;
    color: rgb(66, 225, 165);
}
main{
    box-sizing: border-box;
    background-color: rgb(228, 226, 226);
    display: flex;
    width: 100%;
    padding: 2rem 1.5rem;   
}
main img{
    width: 60%;
    height: auto;
}
main h2{
    color: rgb(92, 92, 92);
    font-weight: bold;
    font-size: 4rem
}
main .hero-text{
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin: 1.5rem;  

}

main .hero-text p{
   font-size: 1.5rem;
    color: rgb(66, 66, 66);
}
main .button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 0.5rem;
    flex-grow: 0;
    padding: 1rem 4rem;
    background-color: rgb(131, 131, 131);
    color: white;
    border: none;
    font-weight: bold;
}
.info{
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 2rem ;
    width: 100%;
}

.info_left {
    box-sizing: border-box;
    width: 60%;
    padding-right: 2rem 1.5 rem;
}
.info_left h1{
    color: rgb(92, 92, 92);
    font-weight: bold;
    font-size: 3rem
}

.info_left p{
    font-size: 1.2rem;
    color: rgb(129, 127, 127);

}
.info img{
    
    width: 100%;
    height: auto;
}

.info_right {
    box-sizing: border-box;
    display: flex;
    padding: 0 1.5rem;
    width: 40%;
    flex-direction: column;
     /* Adds consistent spacing between boxes */
}

.info_box {
    border: 1px solid rgb(219, 217, 217);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    width: 100%; /* Changed from 40% to 100% to fill the parent container */
    box-sizing: border-box;

}

.info_box img {
    height: auto;
    width: 35%;
}

.box_text {

    flex-grow: 1; /* Allows text to take remaining space */
    line-height: 1; /* Adjusted from 0.5rem for better readability */
}

.box_text h2 {
    margin-bottom: 0.5rem;
}

.box_text p {
    margin-bottom: 0.5rem;
}

#oldman{
    background-color: rgb(238, 238, 238);
}

#cite{

    position: relative;
    top: 1.5rem;
    font-size: 1rem;
    font-style: italic;
}

.learning{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 234, 234);
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
    box-sizing: border-box;
}
.courses {
    display: flex;
    flex-wrap: wrap; /* Adds consistent spacing between courses */
    padding: 2rem 4rem;
    gap: 2rem; /* Adds consistent spacing between courses */
    justify-content: space-evenly; /* Centers courses horizontally */
    width: 100%;
    box-sizing: border-box;
;
}

.course{
    display: flex;
    flex-direction: column;
    width: 30%; /* Fixed width for uniformity */
    box-sizing: border-box;
    background-color: white;
}

.course_text {
    padding: 1rem;
    
}

.course_text h3{
    color: rgb(85, 83, 83);
    font-weight: bold;
    font-size: 1.7rem;
}
.course_text p{
    color: rgb(125, 124, 124);
    font-size: 1rem;
    margin: 0.5rem 0;
}

.learning h1{
    color: rgb(61, 60, 60);
    font-weight: bold;
    font-size: 3.5rem;
}

.thesis{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1.5rem;
}
.thesis h1{
    color: rgb(61, 60, 60);
    font-weight: bold;
    font-size: 3.5rem;
    
}

.thesis_media{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    padding: 2rem 1.5rem;
}

.video {
    width: 60%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.video video{   
    width: 100%;
    height: auto;
    box-sizing: border-box;    
}
.video_text {
    width: 100%;
}
.video_text h1{
    color: rgb(85, 83, 83);
    font-size: 2rem;
    font-weight: 500;
}
.video_text p{
    color: rgb(85, 83, 83);
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 200;
}
.thesis_images {
    width: 40%;
}

.thesis_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Fixed width for uniformity */
    margin-left: 1.5rem;
    box-sizing: border-box;
    background-color: white;
    margin-bottom: 2rem; /* Adds space between boxes */;
    background-color: rgb(238, 238, 238);
}
.thesis_box img{
    width: 35%;
    height: auto;
    box-sizing: border-box;
    padding: 1rem;
}

.thesis_box h3{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(85, 83, 83);
}
.thesis_box p{
    font-size: 1rem;
    font-weight: bold;
    color: rgb(85, 83, 83);
}